@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Word Count Input</h1>

<form action="/wordcounter" method="post">

    <label for="userInputWord">Hello, please input a word to find in a sentance:</label>
    <input id="userInputWord" type="text" name="userInputWord">

    <label for="userInputSentance">Please input a sentance to count how many times this word appears: </label>
    <input id="userInputSentance" type="text" name="userInputSentance">

    <button type="submit">Click here to find the word count!</button>
</form>